@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{

    --fonte-1:'Passion One', cursive;
    --fonte-2:'Sriracha', cursive;
    --fonte-3: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.555),black);
    padding-top: 50px;
    text-align: center;
}
header > h1{
    color: rgba(255, 255, 255, 0.89);
    font-family: var(--fonte-1);
    font-size: 3em;
    font-variant: small-caps;
   
}
header > p{
    color: white;
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-2);
    font-size: 1.2em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
}

section p {

    padding-bottom: 3em;
}

section.normal {
    
    background-color: white;
    
}
section.imagem{
    box-shadow: inset 6px 6px 20px rgba(0, 0, 0, 0.568);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
section.imagem > p{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.308);
    min-width: 250px;
    max-width: 300px;
    color: rgb(255, 255, 255);
    padding-left: 1%;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.418);
}
section#img01{
    background-position:  center;
    background-image: url('../imagens/background003.png');
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.555),black);
    color: white;
    padding: 4px;
    text-align: center;
}